@model IEnumerable<L02P02_2020CM606_2023LG651.Models.autores>

@{
    ViewData["Title"] = "Listado de Autores";
}

<div class="container">
    <ul class="progressbar">
        <li class="active">Autores</li>
        <li>Libros</li>
        <li>Comentarios Existentes</li>
        <li>Nuevo Comentario</li>
    </ul>
</div>
<br /><br /><br /><br />

<h2>Listado de Autores</h2>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre del Autor</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.id)</td>
                            <td>@Html.DisplayFor(modelItem => item.autor)</td>
                            <td>
                                @Html.ActionLink("Seleccionar", "PorAutor", "Libros", new { id = item.id }, new { @class = "btn btn-primary" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>